.app {
  width: 100vw;
  height: 100vh;
  background-color: #faf9fb;
  overflow-x: hidden;
}
.app::-webkit-scrollbar {
  display: none;
}

main {
  width: 100%;
  height: auto;
  background-color: #faf9fb;
  margin-top: 60px;
}
